<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>weJ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/images/dj2.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="webJ">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" id="layout" ng-controller="WebJCtrl">
        <section id="login" ng-hide="user">
          <div class="jumbotron instructions">
            <h3>Instructions</h3>
            <p>
            Please pick a username and starting adding songs.
            You will have a set number of up and down votes that will replenish every half hour
            </p>
            <p>Happy Music Friday</p>
          </div>
            <form class="search-form" ng-submit="login()">
                 <button class="btn btn-default add">Login</button>
                 <input class="form-control" id="loginInput" type="text" placeholder="Choose a username"/>
            </form>
        </section>
        <section id="webJ" ng-show="user">
            <header id="header">
                <form class="search-form" ng-submit="addSong()">
                    <button class="btn btn-default add">Add</button>
                    <input class="form-control typeahead" type="text" id="new-song" ng-model="typeahead" placeholder="Search a song"/>
                    <input id="songTitle" type="text" style="display:none"/>
                    <input id="songURI" type="text" style="display:none"/>
                    <input id="songDuration" type="text" style="display:none"/>
                </form>
            </header>
            <section>
              <div class="alert alert-success" role="alert">
               <strong> Locked In: </strong>{{ currentSong.title }}
              </div>
            </section>
            <section id="main">
             <table class="table view">
                <tr><th class="songCol">Song / Artist</th><th class="voteCol">Up/Down Votes</th></tr>
                <tr ng-repeat="song in playlist">
                    <td><label>{{song.title}}</label></td>
                    <td><span class="badge">
                      {{song.upvotes}}<a class="upVote glyphicon glyphicon-arrow-up" ng-click="upvote(song)"></a>
                      {{song.downvotes}}<a class="upVote glyphicon glyphicon-arrow-down" ng-click="downvote(song)"></a>
                    </span></td>
                </tr>
            </table>
            </section>
        </section>
      <section id="extraInfo">
      <div id="userInfo" ng-show="user">
        <h4 class="userHeader">User Information</h4>
        <div class="list-group-item userTable"><strong>Username:</strong> {{user.username}}</div>
        <div class="list-group-item userTable"><strong>Up Votes Left:</strong> {{user.upvotesLeft}}</div>
        <div class="list-group-item userTable"><strong>Down Votes Left:</strong> {{user.downvotesLeft}}</div>
        <div class="list-group-item userTable"><strong>Blocked:</strong> {{user.blocked}}</div>
      </div>
      <br>
        <div id="notificationCenter" ng-show="user" class="panel panel-default">
          <div class="panel-heading"><h4 class="notificationHeader panel-title">Notification Center</h4></div>
          <div class="panel-body">
            <ul>
              <li ng-repeat="note in notifications | limitTo:10 track by $index">
                {{note}}
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/jquery-ui/ui/core.js"></script>
    <script src="bower_components/jquery-ui/ui/widget.js"></script>
    <script src="bower_components/typeahead.js/dist/bloodhound.js"></script>
    <script src="bower_components/typeahead.js/dist/typeahead.jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbuild -->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="js/app.js"></script>
    <script src="js/services/typeahead.js"></script>
    <script src="js/controllers/WebJCtrl.js"></script>
    <!--<script src="js/controllers/UserCtrl.js"></script>-->
    <!-- endbuild -->

</body>
</html>
